<!doctype html>
<html>
 <body bgcolor = "black">
  <h1 style = "color: white;">DataStonks</h1>
  <br>
  <form method="post">
  <label for = "stocks">Select a Stock Market</label>
  <select name = "stock" id = "stock">
    <option value = "NYA">NYA</option>
    <option value = "IXIC">IXIC</option>
    <option value="HSI">HSI</option>
    <option value="000001.SS"></option>
    <option value="GSPTSE">GSPTSE</option>
    <option value="399001.SZ">399001.SZ</option>
    <option value="NSEI">NSEI</option>
    <option value="GDAXI">GDAXI</option>
    <option value="KS11">KS11</option>
    <option value="SSMI">SSMI</option>
    <option value="TWII">TWII</option>
    <option value="J203.JO">J203.JO</option>
    <option value="N225">N225</option>
    <option value="N100">N100</option>
  </select>
  <button>Stonks!</button>
  </form>
</body>
</html>